html{
    min-height:100%;
    background-size: cover;
    background-repeat:no-repeat;
    scroll-behavior: smooth
}

a{
    transition: color .5s ease-in;
}


body {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(172,111,244,1) 100%) no-repeat fixed;
}

/*<---navbar left here---->*/
.navbarpane{
    display: block;
    position: absolute;

    top: 25%;
    z-index: 1;

}

.navbarpane a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    display: block;
    width:220px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 8px;
    margin-left: -210px;
    color: black;
    border-radius: 5px;

}
/*<-------color of navber left----->*/
.index-link{
    background: #ffffff;

}
.courses-link{
    background: #ffffff;
}

.maps-link{
    background: #ffffff;
}

.transport-link{
    background: #ffffff;
}

.regislink{
    background: #ffffff;
}

.facilities-link{
    background: #ffffff;
}

.qa-link{
    background: #ffffff;
}

.contact-link{
    background: #ffffff;
}

.navicons{
    margin-top: 10px;
}

.navbarpane a:hover{
   margin-left: -5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.title-box{
    background-color: #2e363e;
    background-size: cover;
    background-position: center;
    top: 5%;
    width: 90%;
    height: 90%;
    position: relative;
    margin: auto;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px 2px;

}
/*<----picture of title box here------>*/
/*<---don't forget to create new name in big div, e.g: title-box page-maps-->*/
.title-box.page-index .title-bg{
    background-image: url("pic/box-pic/index-box.jpg");

}

.title-box.page-courses .title-bg{
    background-image: url("pic/box-pic/course-box.png");
}


.title-box.page-maps .title-bg{
    background-image: url("pic/box-pic/maps-box.png");
}

/*<---end of custom image selection---->*/

.title-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1px) brightness(60%);
    background-size: cover;
    background-position: center;
    transition: width .7s ease-out;
    -webkit-transition: width .7s ease-out;


}
.title-box{
    display: block;
    text-align: center;
}

.title-text{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    color: #ffffff;
    position: relative;
    text-align: center;
    margin: auto;
    top: 40%;
    transition: font-size .7s ease-out;
-webkit-transition: font-size .7s ease-out;
;

}

.title-desc{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    text-align: center;
    margin: auto;
    top:40%;
    transition: font-size .7s ease-out;


}
/*<------ down arrow in every pae , DO NOT EDIT HERE------->*/
.chevronsym {
     width: 100%;
     position: absolute;
     z-index: 1;
     text-align: center;

 }

.chevronsym img {
     width: 30px;
 }

/*<----beginning of information box CSS----->*/

.info-box {
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 85%;
    height: auto;
    background-color: #564256;

}

.info-text {
    padding: 15px;
    font-family: 'Hind Guntur', sans-serif;
    color:#ffffff;
    font-size: 26px;
}
.info-text h3{
    text-align: center;
}
/*<----s_courses---->*/

.bullink{
    display: block;
    text-align: center;
}


.info-text a:link{
    color: #de7373;

}
.info-text a:hover{
    color: #ffffff;

}

.info-text a:visited{
    color: #de7373;

}

/*<---transportation vehicle selection---->*/
.vehi-sec{
    position: relative;
    text-align: center;
    margin: auto;

}
.vehi-sec a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color:black;

}